* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* NAV */
header {
  grid-auto-rows: auto;
  grid-template-columns: 50% 50%;
  display: grid;
}
header .menu {
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: inline-grid;
  z-index: 1;
  margin-top: 30px;
}
header .menu .container-fluid .collapse .navbar-nav {
  gap: 90px;
}
header .menu .container-fluid .collapse .navbar-nav .nav-item .control {
  color: #0e0f11;
}
header .menu .container-fluid .collapse .navbar-nav .nav-item .control:hover {
  color: #FF2E63;
}

/* FOOTER */
.footer-container {
  display: grid;
  grid-template-rows: 53px 40px 17px;
  grid-template-columns: 25fr 25fr 25fr 25fr;
  color: #EAEAEA;
  background-color: #17181b;
  align-items: center;
}
.footer-container .logo-a {
  display: grid;
  justify-content: center;
  grid-row: 1/3;
}
.footer-container .logo-a img {
  padding-top: 10px;
  width: 65px;
}
@media only screen and (max-width: 360px) {
  .footer-container .logo-a img {
    width: 45px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .footer-container .logo-a img {
    width: 45px;
  }
}
.footer-container p {
  grid-row: 1/4;
  justify-items: center;
  display: grid;
  grid-column: 2/4;
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 360px) {
  .footer-container p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .footer-container p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer-container p {
    font-size: 0.9rem;
  }
}
.footer-container .nav-footer {
  grid-row: 1/4;
  justify-content: center;
  grid-column: 4;
  display: grid;
}
.footer-container .nav-footer ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  grid-column-gap: 60px;
}
@media only screen and (max-width: 360px) {
  .footer-container .nav-footer ul {
    gap: 16px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .footer-container .nav-footer ul {
    gap: 16px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer-container .nav-footer ul {
    gap: 16px;
  }
}
.footer-container .nav-footer a {
  color: #EAEAEA;
  text-decoration: none;
}
.footer-container .nav-footer a img {
  width: 24px;
}
@media only screen and (max-width: 360px) {
  .footer-container .nav-footer a img {
    width: 19px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .footer-container .nav-footer a img {
    width: 19px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer-container .nav-footer a img {
    width: 19px;
  }
}

.conocer-mas {
  background-color: #EAEAEA;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 80px 323px;
  padding: 10px 100px 50px 100px;
  gap: 30px;
}
.conocer-mas h3 {
  align-content: flex-end;
  grid-row: 1;
  grid-column: 1/4;
  display: grid;
  justify-content: center;
}
.conocer-mas .mas {
  grid-row: 2/3;
  overflow: hidden;
  box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.36);
}
.conocer-mas .mas .uno {
  width: 460px;
}
.conocer-mas .mas .dos {
  width: 625px;
}
.conocer-mas .mas .tres {
  width: 493px;
}
.conocer-mas .conocer-sec {
  justify-content: center;
  grid-column: 2;
  display: grid;
  align-content: center;
}
.conocer-mas .conocer-sec .btn-outline-primary {
  color: #EAEAEA;
  background-color: #17181b;
  border: #17181b;
}
.conocer-mas .conocer-sec .btn-outline-primary:hover {
  color: #EAEAEA;
  background-color: #FF2E63;
}

/* NAV */
header {
  grid-auto-rows: auto;
  grid-template-columns: 50% 50%;
  display: grid;
}
header .menu {
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: inline-grid;
  z-index: 1;
  margin-top: 30px;
}
header .menu .container-fluid .collapse .navbar-nav {
  gap: 90px;
}
header .menu .container-fluid .collapse .navbar-nav .nav-item .control {
  color: #EAEAEA;
}
header .menu .container-fluid .collapse .navbar-nav .nav-item .control:hover {
  color: #FF2E63;
}

.form-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  background-color: #0e0f11;
}
.form-registro h2 {
  color: #08D9D6;
  font-weight: 300;
  font-size: 2rem;
}
.form-registro .mas-info {
  text-align: center;
  width: 40%;
}
.form-registro .mas-info p {
  color: #EAEAEA;
}
.form-registro .inputBox {
  position: relative;
  width: 250px;
}
.form-registro .inputBox input {
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 10px 0 5px;
}
.form-registro .inputBox span {
  position: absolute;
  left: 0;
  padding: 10px 0 5px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  pointer-events: none;
  letter-spacing: 0.1em;
  transition: 0.5s;
}
.form-registro .inputBox i {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.form-registro .inputBox {
  position: relative;
  width: 250px;
}
.form-registro .inputBox input {
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 10px 0 5px;
}
.form-registro .inputBox input:valid ~ span, .form-registro .inputBox input:focus ~ span {
  color: #FF2E63;
  transform: translateY(-16px);
  font-size: 0.65em;
}
.form-registro .inputBox input:valid ~ i::before, .form-registro .inputBox input:focus ~ i::before {
  left: 0;
}
.form-registro .inputBox span {
  position: absolute;
  left: 0;
  padding: 10px 0 5px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  pointer-events: none;
  letter-spacing: 0.1em;
  transition: 0.5s;
}
.form-registro .inputBox i {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.form-registro .inputBox i::before {
  content: "";
  position: absolute;
  width: 100%;
  left: -100%;
  height: 100%;
  background: linear-gradient(90deg, #ff1b60, #ff0, #2196f3, #9c27b0, #ff1b69);
  animation: animate 2s linear infinite;
  transition: 0.5s;
}
.form-registro .nos-boton {
  padding-top: 100p;
  margin-top: 44px;
  justify-content: center;
  height: 39px;
  align-items: center;
  display: flex;
  color: #EAEAEA;
  background-color: #FF2E63;
  border: #FF2E63;
  border-radius: 20pt;
  width: 142px;
  text-decoration: none;
}
.form-registro .nos-boton:hover {
  color: #0e0f11;
  background-color: #08D9D6;
}

/*# sourceMappingURL=contacto.css.map */
