* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*-------------- TEXTO EXPLORÃ EN INICIO SOBRE IMG --------------------*/


@font-face {
    font-family: 'KeeponTruckin';
    src: url(../fonts/KeeponTruckin.ttf;)
}

@font-face {
    font-family: 'Canobis-Regular';
    src: url(../fonts/Canobis-Regular.otf)
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;
    display: grid;
}

.menu {
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: inline-grid;
}

.control {
    color: #EAEAEA;
}

.control:hover {
    color: #ff1b60;
}



/* ------------- CARRUSEL ------------------*/
.banner {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/3;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100vh;
}


h5 {
    padding-left: 240px;
    margin-top: 30%;
    position: absolute;
    grid-column: 1/3;
    color: #ffffff;
    font-size: 3em;
    font-family: 'Comfortaa', cursive;
    width: 100%;
}

.btn-primary {
    margin-top: 60px;
    color: #EAEAEA;
    background-color: #FF2E63;
    border: #FF2E63;
    width: 142px;
    height: 39px;
    border-radius: 100px;
}

.btn-primary:hover {
    color: #0e0f11;
    background-color: #08D9D6;

}




/*------------- MIGAJAS ------------*/

.migajas {
    background-color: #17181b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
}

.migajas-2 {
    align-items: center;
    display: grid;
    justify-items: center;
}

.migas {
    color: #EAEAEA;
    font-size: 1rem;
}




/*------------- INICIO GALERIA ------------*/

.contenedor-galeria {
    background-color: #252A34;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}


.figure {
    position: relative;
    height: 250px;
    width: 25%;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
}

.contenedor-galeria .figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor-galeria .figure .capa {
    position: absolute;
    padding-top: 32px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #252a347e;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor-galeria .figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor-galeria .figure:hover>img {
    transform: scale(1.3);
}

.contenedor-galeria .figure:hover>.capa h2 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor-galeria .figure .capa h2 {
    color: #EAEAEA;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

/*------------- FIN GALERIA ------------*/

/*------------- flecha carga mas ------------*/
.abajo {
    background-color: #0e0f11;
    height: 160px;
    display: flex;
    justify-content: center;
}

.flecha-mas {
    padding-top: 25px;
    color: #EAEAEA;
}

.flecha-mas:hover {
    color: #FF2E63;
}

.mas {
    display: flex;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-top: solid 5px;
    border-right: solid 5px;
    transform: rotate(135deg);
}

/*----------- footer ---------------*/

/*footer*/

.footer-container {
    display: grid;
    grid-template-rows: 53px 40px 17px;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    color: #EAEAEA;
    background-color: #17181b;
    align-items: center;
}

.nav-footer {
    justify-content: center;
    grid-column: 4;
    display: grid;
}

.lista-footer {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.lista-footer a {
    color: #EAEAEA;
    text-decoration: none;
}

.logo-a {
    display: grid;
    justify-content: center;
    grid-row: 1/3;
}

.logo-a img {
    padding-top: 10px;
    width: 65px;
}

.footer-container p {
    justify-items: center;
    display: grid;
    grid-column: 4;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-footer ul {
    margin-bottom: 0;
    padding-left: 0;
    grid-column-gap: 60px;
}

.lista-footer img {
    width: 24px;
}

/*-------- responsive --------*/

@media only screen and (max-width:480px) {
    .banner h5 {
        font-size: 2rem;
        padding-left: 0;
        margin-top: 60%;
    }

    .figure {
        height: 20%;
    }

    .comentario {
        grid-row: 1/4;
        width: 100%;
        font-size: 0.8rem;
        grid-column: 2/4;
    }

    .nav-footer {
        grid-row: 1/4;
    }

    .footer-container p {
        grid-column: 2/4;
    }

}

@media only screen and (min-width:481px) and (max-width:768px) {
    .banner h5 {
        font-size: 2rem;
        padding-left: 70px;
        margin-top: 50%;
    }
    .figure {
        height: 40vh;
        width: 100%;
    }

    .footer-container p {
        grid-row: 1/4;
        grid-column: 2/4;
    }

    .nav-footer {
        grid-row: 1/4;
    }

    .siete {
        display: none;
    }

    .n {
        display: none;
    }
    .aa {
        display: none;
    }
}

@media only screen and (min-width:769px) and (max-width:992px) {
    .banner h5 {
        font-size: 2.5rem;
        padding-left: 60px;
        margin-top: 40%;
    }

    .figure {
        height: 257px;
        width: 33.3%;
    }

    .b {
        display: none;
    }

    .ultima {
        display: none;
    }

    .footer-container p {
        grid-row: 1/4;
        grid-column: 2/4;
    }
    
    .nav-footer {
        grid-row: 1/4;
    }

    .nav_menu {
        position: relative;
        top: 10px;
        font-size: 1rem;
        display: flex;
        grid-auto-flow: column;
        gap: 1em;
    }
}