* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
}

/* NAV */
header {
  grid-auto-rows: auto;
  grid-template-columns: 50% 50%;
  display: grid;
}
header .menu {
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: inline-grid;
  z-index: 1;
  padding: 17px;
}
header .menu .container-fluid .collapse .navbar-nav {
  gap: 90px;
}
header .menu .container-fluid .collapse .navbar-nav .nav-item .control {
  color: #0e0f11;
}
header .menu .container-fluid .collapse .navbar-nav .nav-item .control:hover {
  color: #FF2E63;
}

/* FOOTER */
.footer-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25fr 25fr 25fr 25fr;
  color: #FF2E63;
  align-items: center;
  background-color: #cecece;
}
.footer-container .logo-a {
  display: grid;
  justify-content: center;
  grid-column: 2/4;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-container .logo-a a {
  align-items: center;
  justify-content: center;
  display: ggr;
  display: flex;
}
.footer-container .logo-a a img {
  padding-top: 10px;
  width: 20%;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 360px) {
  .footer-container .logo-a a img {
    width: 45px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .footer-container .logo-a a img {
    width: 45px;
  }
}
.footer-container p {
  grid-row: 1;
  justify-items: center;
  display: grid;
  grid-column: 1;
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 360px) {
  .footer-container p {
    font-size: 0.7rem;
    padding-left: 10%;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .footer-container p {
    font-size: 0.8rem;
    padding-left: 10%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer-container p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .footer-container p {
    padding-left: 22px;
  }
}
.footer-container .nav-footer {
  grid-row: 1/4;
  justify-content: center;
  grid-column: 4;
  display: grid;
}
.footer-container .nav-footer ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  grid-column-gap: 60px;
}
@media only screen and (max-width: 360px) {
  .footer-container .nav-footer ul {
    gap: 16px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .footer-container .nav-footer ul {
    gap: 16px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer-container .nav-footer ul {
    gap: 16px;
  }
}
.footer-container .nav-footer a {
  color: #EAEAEA;
  text-decoration: none;
}
.footer-container .nav-footer a img {
  width: 24px;
}
@media only screen and (max-width: 360px) {
  .footer-container .nav-footer a img {
    width: 19px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .footer-container .nav-footer a img {
    width: 19px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer-container .nav-footer a img {
    width: 19px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .icono-logo {
    display: none;
  }
}

header .menu {
  background-color: #EAEAEA;
  z-index: 1;
}
@media only screen and (max-width: 360px) {
  header .menu {
    background: rgba(255, 255, 255, 0.82);
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: inline-grid;
    z-index: 1;
    margin-top: 0;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  header .menu {
    background: rgba(255, 255, 255, 0.82);
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: inline-grid;
    z-index: 1;
    margin-top: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header .menu {
    background: rgba(255, 255, 255, 0.82);
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: inline-grid;
    z-index: 1;
    margin-top: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  header .menu {
    background: rgba(255, 255, 255, 0.82);
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: inline-grid;
    z-index: 1;
    margin-top: 0;
  }
}

header .menu {
  z-index: 2;
}
header .menu .container-fluid .navbar-toggler {
  --bs-navbar-toggler-focus-width: none;
}
header .menu .container-fluid .collapse .navbar-nav {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  padding-top: 10px;
  align-items: center;
  gap: 63px;
  justify-content: center;
  align-items: flex-start;
}
header .menu .container-fluid .collapse .navbar-nav .logo-a {
  width: 16%;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  header .menu .container-fluid .collapse .navbar-nav .logo-a {
    width: 0;
  }
}
header .menu .container-fluid .collapse .navbar-nav .logo-a img {
  width: 55%;
}
@media only screen and (max-width: 360px) {
  header .menu .container-fluid .collapse .navbar-nav {
    gap: 0;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  header .menu .container-fluid .collapse .navbar-nav {
    gap: 7px;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header .menu .container-fluid .collapse .navbar-nav {
    gap: 45px;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  header .menu .container-fluid .collapse .navbar-nav {
    gap: 18px;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 360px) {
  .icono-logo {
    display: none;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .icono-logo {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .icono-logo {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .navbar-toggler-icon {
    height: 1em;
    width: 1em;
  }
}

@media only screen and (max-width: 360px) {
  .navbar-nav {
    --bs-nav-link-padding-y: 0.46rem;
  }
}

/* CARRUSEL */
.carousel {
  height: 100vh;
  position: relative;
}
@media only screen and (max-width: 360px) {
  .carousel {
    height: auto;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .carousel {
    height: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .carousel {
    height: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .carousel {
    height: auto;
  }
}
.carousel .carousel-inner {
  height: 100vh;
}
@media only screen and (max-width: 360px) {
  .carousel .carousel-inner {
    height: auto;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .carousel .carousel-inner {
    height: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .carousel .carousel-inner {
    height: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .carousel .carousel-inner {
    height: auto;
  }
}
.carousel .carousel-inner .carousel-item h5 {
  display: flex;
  justify-content: center;
  margin-top: 26%;
  position: absolute;
  grid-column: 1/3;
  color: #EAEAEA;
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  width: 100%;
}
@media only screen and (max-width: 360px) {
  .carousel .carousel-inner .carousel-item h5 {
    margin-top: 33%;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .carousel .carousel-inner .carousel-item h5 {
    margin-top: 33%;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .carousel .carousel-inner .carousel-item h5 {
    margin-top: 33%;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .carousel .carousel-inner .carousel-item h5 {
    margin-top: 33%;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.contador-lugar {
  align-items: center;
  display: flex;
  height: 187px;
  background-color: #17181b;
}
@media only screen and (max-width: 360px) {
  .contador-lugar {
    height: 8vh;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .contador-lugar {
    height: 14vh;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contador-lugar {
    height: 15vh;
  }
}
.contador-lugar .contador {
  justify-content: center;
  padding-bottom: 16px;
  display: flex;
  width: auto;
  height: auto;
  color: #EAEAEA;
  font-size: 40px;
  line-height: 40px;
  margin: auto;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}
@media only screen and (max-width: 360px) {
  .contador-lugar .contador {
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .contador-lugar .contador {
    font-size: 1.5rem;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contador-lugar .contador {
    font-size: 1.5rem;
  }
}
.contador-lugar .contador p {
  margin: 0;
}

/* galeria */
.contenedor-galeria {
  background-color: #252A34;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.contenedor-galeria .figure {
  position: relative;
  height: 361px;
  width: 25%;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
}
@media only screen and (max-width: 360px) {
  .contenedor-galeria .figure {
    position: relative;
    height: 157px;
    width: 50%;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .contenedor-galeria .figure {
    height: 183px;
    width: 50%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contenedor-galeria .figure {
    height: 50vh;
    width: 50%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .contenedor-galeria .figure {
    height: 70vh;
    width: 50%;
  }
}
.contenedor-galeria .figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.contenedor-galeria .figure img:hover {
  transform: scale(1.3);
}

.figure .capa {
  position: absolute;
  padding-top: 32px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(14, 15, 17, 0.7568627451);
  transition: all 500ms ease-out;
  opacity: 0;
  text-align: center;
}
@media only screen and (max-width: 360px) {
  .figure .capa {
    padding-top: 8px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .figure .capa {
    padding-top: 13px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .figure .capa {
    padding-top: 6px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .figure .capa {
    padding-top: 17px;
  }
}
.figure .capa:hover {
  opacity: 1;
  visibility: visible;
}
.figure .capa h2 {
  color: #EAEAEA;
  font-weight: 400;
  transition: all 500ms ease-out;
  margin-top: 30%;
}
@media only screen and (max-width: 360px) {
  .figure .capa h2 {
    margin-top: 20%;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .figure .capa h2 {
    margin-top: 19%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .figure .capa h2 {
    margin-top: 25%;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .figure .capa h2 {
    margin-top: 50%;
  }
}
.figure .capa p {
  color: #EAEAEA;
}
@media only screen and (max-width: 360px) {
  .figure .capa p {
    padding-left: 10px;
    text-align: center;
    font-size: 0.7rem;
    color: #EAEAEA;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .figure .capa p {
    padding-left: 30px;
    font-size: 0.8rem;
    color: #EAEAEA;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .figure .capa p {
    color: #EAEAEA;
    font-size: 1.1rem;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .figure .capa p {
    font-weight: 400;
    font-size: 1.4rem;
    color: #EAEAEA;
  }
}

/*# sourceMappingURL=explora.css.map */
