* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Poppins:wght@200;500;800&display=swap');

@font-face {
    font-family: 'KeeponTruckin';
    src: url(../fonts/KeeponTruckin.ttf;)
}

@font-face {
    font-family: 'Canobis-Regular';
    src: url(../fonts/Canobis-Regular.otf)
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;
    display: grid;
}

.menu {
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-grid;
}

.control {
    color: #EAEAEA;
    }

    .control:hover {
        color: #ff1b60;
    }



/* ------------- CARRUSEL ------------------*/
.banner {
        display: grid;
        grid-column: 1/3;
        grid-row: 1/3;
        overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100vh;
}


h5 {
    padding-left: 240px;
    margin-top: 30%;
    position: absolute;
    grid-column: 1/3;
    color: #ffffff;
    font-size: 3em;
    font-family: 'Comfortaa', cursive;
    width: 100%;
}

.btn-primary {
    margin-top: 60px;
    color: #EAEAEA;
    background-color: #FF2E63;
    border: #FF2E63;
    width: 142px;
    height: 39px;
    border-radius: 100px;
}

.btn-primary:hover {
    color: #0e0f11;
    background-color: #08D9D6;

}

/* ------------- INICIO CONTADOR ------------------*/
.contador-lugar {
    align-items: center;
    display: flex;
    height: 187px;
    background-color: #17181b;
}

.contador {
    justify-content: center;
    padding-bottom: 16px;
    display: flex;
    width: 473px;
    height: 40px;
    color: #EAEAEA;
    font-size: 40px;
    line-height: 40px;
    margin: auto;
    overflow: hidden;
}

.orden {
    list-style: none;
    padding-left: 10px;
    animation: cambiar 5s infinite;
    font-size: 30px;
    color: #08D9D6;
}

.orden .dest {
    margin: 0;
}

@keyframes cambiar {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -40px;
    }

    40% {
        margin-top: -40px;
    }

    30% {
        margin-top: -80px;
    }

    50% {
        margin-top: -80px;
    }

    40% {
        margin-top: -120px;
    }

    60% {
        margin-top: -120px;
    }

    50% {
        margin-top: -160px;
    }

    70% {
        margin-top: -160px;
    }

    60% {
        margin-top: -200px;
    }

    90% {
        margin-top: -200px;
    }

    70% {
        margin-top: -240px;
    }

    110% {
        margin-top: -240px;
    }

    80% {
        margin-top: -280px;
    }

    130% {
        margin-top: -280px;
    }

    90% {
        margin-top: -320px;
    }

    150% {
        margin-top: -320px;
    }
}

/*----------- FIN CONTADOR --------------*/



/*------------- INICIO GALERIA ------------*/
#explora-a {
    background-color: black;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 711px auto;
}

.fotitos img {
    width: 100%;
}

.fotitos {
    width: 90%;
    grid-column: 2;
    grid-row: 1;
}



.titulo-a {
    width: 500px;
    grid-column: 1;
    grid-row: 1;
}

.titulo-a p {
    color: #EAEAEA;
}

.titulo-a h2 {
    color: #08D9D6;
    font-weight: 300;
    font-size: 2rem;
}


.nos-boton {
    padding-top: 100p;
    margin-top: 44px;
    justify-content: center;
    height: 39px;
    align-items: center;
    display: flex;
    color: #EAEAEA;
    background-color: #252A34;
    border: #252A34;
    border-radius: 20pt;
    width: 142px;
}

a {
    text-decoration: none;
}

/*------------- flechita -----------*/
.flecha-1 {
    padding-bottom: 40px;
    margin-left: 547px;
    width: 40px;
    grid-column: 2;
}

.flechita-1:hover {
    color: #0e0f11;
    background-color: #08D9D6;
}

/*------------- INICIO NOSOTRAS ------------*/
#nosotras-a {
    background-color: #17181b;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 711px auto;
}

.nos {
    width: 70%;
    grid-column: 1;
    grid-row: 1;
}

.nos img {

    width: 100%;
    box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.813);
    -webkit-box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.499);
    -moz-box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.579);
}


.tipo-nos {
    width: 500px;
    grid-column: 2;
    grid-row: 1;
}

.tipo-nos {
    color: #EAEAEA;
}


.tipo-nos h2 {
    color: #08D9D6;
    font-weight: 300;
    font-size: 2rem;
}

.nosotras-boton {
    padding-top: 100p;
    margin-top: 44px;
    justify-content: center;
    height: 39px;
    align-items: center;
    display: flex;
    color: #EAEAEA;
    background-color: #FF2E63;
    border: #FF2E63;
    border-radius: 20pt;
    width: 142px;
}

a {
    text-decoration: none;
}

.nosotras-boton:hover {
    color: #0e0f11;
    background-color: #08D9D6;
}

/*------------- FIN NOSOTRAS Y BOTON ------------*/
/*------------- INICIO ZOE ------------*/


#zoe-a {
    background-color: black;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 711px auto;
}

.zoe {
    width: 70%;
    grid-column: 2;
    grid-row: 1;
}

.zoe img {
    width: 100%;
}

.tipo-zoe {
    width: 500px;
    grid-column: 1;
    grid-row: 1;
}

.tipo-zoe p {
    color: #EAEAEA;
}

.tipo-zoe h2 {
    color: #08D9D6;
    font-weight: 300;
    font-size: 2rem;
}

.zoe-boton {
    padding-top: 100p;
    margin-top: 44px;
    justify-content: center;
    height: 39px;
    align-items: center;
    display: flex;
    color: #EAEAEA;
    background-color: #FF2E63;
    border: #FF2E63;
    border-radius: 20pt;
    width: 142px;
}

a {
    text-decoration: none;
}

.zoe-boton:hover {
    color: #0e0f11;
    background-color: #08D9D6;
}

/*------------------ FORMULARIO ------------------------*/

.form-registro h2 {
    color: #08D9D6;
    font-weight: 300;
    font-size: 2rem;
}


.form-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background-color: #0e0f11;
}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    background: transparent;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 10px 0 5px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px 0 5px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #FF2E63;
    transform: translateY(-16px);
    font-size: 0.65em;
}

.inputBox i {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.inputBox i::before {
    content: "";
    position: absolute;
    width: 100%;
    left: -100%;
    height: 100%;
    background: linear-gradient(90deg, #ff1b60, #ff0, #2196f3, #9c27b0, #ff1b69);
    animation: animate 2s linear infinite;
    transition: 0.5s;
}

.inputBox input:valid~i::before,
.inputBox input:focus~i::before {
    left: 0;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 250px;
    }
}

.nos-boton {
    padding-top: 100p;
    margin-top: 44px;
    justify-content: center;
    height: 39px;
    align-items: center;
    display: flex;
    color: #EAEAEA;
    background-color: #FF2E63;
    border: #FF2E63;
    border-radius: 20pt;
    width: 142px;
}

a {
    text-decoration: none;
}

.nos-boton:hover {
    color: #0e0f11;
    background-color: #08D9D6;
}





/*-------------------------------------------*/
/*footer*/

.footer-container {
    display: grid;
    grid-template-rows: 53px 40px 17px;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    color: #EAEAEA;
    background-color: #17181b;
    align-items: center;
}

.nav-footer {
    justify-content: center;
    grid-column: 4;
    display: grid;
}

.nav_item::after {
    content: "";
    display: block;
    background: #FF2E63;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.lista-footer {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.lista-footer a {
    color: #EAEAEA;
    text-decoration: none;
}

.logo-a {
    display: grid;
    justify-content: center;
    grid-row: 1/3;
}

.logo-a img {
    padding-top: 10px;
    width: 65px;
}

.footer-container p {
    justify-items: center;
    display: grid;
    grid-column: 4;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-footer ul {
    margin-bottom: 0;
    padding-left: 0;
    grid-column-gap: 60px;
}

.lista-footer img {
    width: 24px;
}

/*-------- responsive --------*/

@media only screen and (max-width:480px) {
    .orden {
        font-size: 15px;
    }

    .banner h5 {
        display: none;
    }

    .banner img {
        width: 100%;
        height: 67vh;
    }

    .flecha-1 {
        display: none;
    }

    .contador {
        justify-content: center;
        font-size: 25px;
    }

    .fotitos, .zoe, .nos {
        display: none;
    }

    .titulo-a, .tipo-nos, .tipo-zoe {
        width: 445px;
        padding-left: 80px;
        grid-column: 1/2;
        grid-row: 1;
    }

    .comentario {
        grid-row: 1/4;
        width: 100%;
        font-size: 0.8rem;
        grid-column: 2/4;
    }

    .nav-footer {
        grid-row: 1/4;
    }

    .footer-container p {
        grid-column: 2/4;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {

    .titulo-a, .tipo-zoe, .tipo-nos {
        width: 500px;
        grid-column: 1/3;
        grid-row: 1;
    }

    .banner h5 {
        display: none;
    }

    .banner img {
        width: 100%;
        height: 67vh;
    }

    .nos, .zoe, .fotitos {
        display: none;
    }

    .footer-container p {
        grid-row: 1/4;
        grid-column: 2/4;
    }

    .flecha-1 {
        margin-left: 160px;
    }
    
    .nav-footer {
        grid-row: 1/4;
    }

    .nav_menu {
        position: relative;
        top: 10px;
        font-size: 1rem;
        display: flex;
        grid-auto-flow: column;
        gap: 1em;
    }
}

@media only screen and (min-width:769px) and (max-width:992px) {

    .titulo-a, .tipo-zoe, .tipo-nos {
        width: 500px;
        grid-column: 1/3;
        grid-row: 1;
    }

    .banner h5 {
        display: none;
    }

    .banner img {
        width: 100%;
        height: 67vh;
    }

    .nos, .zoe, .fotitos {
        display: none;
    }

    .flecha-1 {
        margin-left: 389px;
    }

    .footer-container p {
        grid-row: 1/4;
        grid-column: 2/4;
    }
    
    .nav-footer {
        grid-row: 1/4;
    }

    .nav_menu {
        position: relative;
        top: 10px;
        font-size: 1rem;
        display: flex;
        grid-auto-flow: column;
        gap: 1em;
    }
}

@media only screen and (min-width:993px) and (max-width:1400px) {


}