*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*-------------- TEXTO EXPLORÁ EN INICIO SOBRE IMG --------------------*/


@font-face {
    font-family: 'KeeponTruckin';
    src: url(../fonts/KeeponTruckin.ttf;)
}
@font-face {
    font-family: 'Canobis-Regular';
    src: url(../fonts/Canobis-Regular.otf)
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;
    display: grid;
}

.menu {
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: inline-grid;
}

.navbar {
    z-index: 1;
    margin-top: 30px;
}

.navbar-nav {
    gap: 90px;
}

.control {
    color: #0e0f11;
}

.control:hover {
    color: #ff1b60;
}

/*-------banner-------*/
.banner-zoe-a {
    display: flex;
    overflow: hidden;
    height: 77vh;
}

.img-fluid {
    width: 100%;
    height: 93vh;
}
/*-----------*/

/*------------- INICIO iconos ------------*/
.contador-iconos {
    background-color: #17181b;
}

.iconos {
    padding-bottom: 30px;
    gap: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 187px;
}
.iconos img {
    width: 102px;
    padding-top: 56px;
}

.orden {
    height: 121px;
    width: 121px;
    background-color: white;
    flex-direction: column-reverse;
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.orden p {
    padding-top: 17px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.orden:hover {
    color: #ff1b60;
}

/*------------- INICIO GALERIA ------------*/

.zoe-container {
    height: 100vh;
    padding: 70px 0 70px 0;
    background-color: black;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 550px auto;
}

.zoe {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    grid-row: 1/3;
}

span {
    color: red;
}

.zoe img {
    width: 80%;
    border-radius: 20px;
}

.tipo-zoe {
    width: 500px;
    grid-column: 2;
    grid-row: 1/3;
}

.tipo-zoe h2 {
    color: #08D9D6;
    font-weight: 300;
    font-size: 2rem;
}

.tipo-zoe p {
    color: #EAEAEA;
}


/*----------*/
/*------------- entrenamiento ------------*/

.entrenamiento-container {
    height: 100vh;
    padding: 70px 0 70px 0;
    background-color: #17181b;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 550px auto;
}

.entrena {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    grid-row: 1/3;
}

.tipo-entrena {
    width: 500px;
    grid-column: 1;
    grid-row: 1/3;
}

.fotito-zoe {
    border-radius: 20px;
}

.tipo-entrena h2 {
    color: #08D9D6;
    font-weight: 300;
    font-size: 2rem;
}

.tipo-entrena p {
    color: #EAEAEA;
}


/*----------*/
/*------------------- conocer mas ------------------------*/
.conocer-mas {
    background-color: #EAEAEA;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 80px 323px;
    padding: 10px 100px 50px 100px;
    gap: 30px;
}

.mas {
    grid-row: 2/3;
    overflow: hidden;
    box-shadow: -4px 3px 35px -4px rgba(0,0,0,0.36);
    -webkit-box-shadow: -4px 3px 35px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: -4px 3px 35px -4px rgba(0,0,0,0.36);
}

.uno {
    width: 460px;
}

.dos {
    width: 625px;
}

.tres {
    width: 493px;
}

.conocer-mas h3 {
    align-content: flex-end;
    grid-row: 1;
    grid-column: 1/4;
    display: grid;
    justify-content: center;
}

.conocer-sec {
    justify-content: center;
    grid-column: 2;
    display: grid;
    align-content: center;
}

.btn-outline-primary {
    color:#EAEAEA;
    background-color: #17181b;
    border: #17181b;
} 

.btn-outline-primary:hover {
    color: #EAEAEA;
    background-color: #FF2E63;
}


/*footer*/

.footer-container {
    display: grid;
    grid-template-rows: 53px 40px 17px;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    color: #EAEAEA;
    background-color: #17181b;
    align-items: center;
}

.nav-footer {
    justify-content: center;
    grid-column: 4;
    display: grid;
}

.lista-footer {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.lista-footer a {
    color: #EAEAEA;
    text-decoration: none;
}

.logo-a {
    display: grid;
    justify-content: center;
    grid-row: 1/3;
}

.logo-a img {
    padding-top: 10px;
    width: 65px;
}

.footer-container p {
    justify-items: center;
    display: grid;
    grid-column: 4;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-footer ul {
    margin-bottom:0;
    padding-left: 0;
    grid-column-gap: 60px;
}

.lista-footer img {
    width: 24px;
}

/*-------- responsive --------*/
@media only screen and (max-width:480px) {

    .zoe {
        display: none;
    }

    .tipo-zoe {
        width: 445px;
        padding-left: 80px;
        grid-column: 1/2;
        grid-row: 1;
    }

    .comentario {
        grid-row: 1/4;
        width: 100%;
        font-size: 0.8rem;
        grid-column: 2/4;
    }

    .nav-footer {
        grid-row: 1/4;
    }

    .footer-container p {
        grid-column: 2/4;
    }
}



@media only screen and (min-width:481px) and (max-width:768px) {

    .tipo-zoe {
        width: 500px;
        grid-column: 1/3;
        grid-row: 1;
    }

    .zoe {
        display: none;
    }

    .footer-container p {
        grid-row: 1/4;
        grid-column: 2/4;
    }
}



@media only screen and (min-width:769px) and (max-width:992px) {

    .tipo-zoe {
        width: 500px;
        grid-column: 1/3;
        grid-row: 1;
    }

    .zoe {
        display: none;
    }
}
