@import '../scss/components/header';
@import '../scss/base/listas';
@import '../scss/components/footer';

header {

   .menu {
    background-color:#EAEAEA;
    
    @media only screen and (max-width:360px) {
        background: rgb(255 255 255 / 82%);
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-grid;
        z-index: 1;
        margin-top: 0;
    }

    @media only screen and (min-width:361px) and (max-width:480px) {
        background: rgb(255 255 255 / 82%);
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-grid;
        z-index: 1;
        margin-top: 0;
    }

    @media only screen and (min-width:481px) and (max-width:768px) {
        background: rgb(255 255 255 / 82%);
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-grid;
        z-index: 1;
        margin-top: 0;
    }
    @media only screen and (min-width:769px) and (max-width:992px){
        background: rgb(255 255 255 / 82%);
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-grid;
        z-index: 1;
        margin-top: 0;
    }
}
}

header {
    .menu{
        .container-fluid{
            .collapse{
                .navbar-nav {
                    gap: 63px;
                    align-items: center;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 300;
                    .logo-a {
                        img {
                            width: 20%;
                            @media only screen and (max-width:360px) {
                                display: none;
                                overflow: hidden;
                            }
                            @media only screen and (max-width:360px) {
                                display: none;
                                overflow: hidden;
                            }
                            @media only screen and (min-width:361px) and (max-width:480px) {
                                display: none;
                                overflow: hidden;
                            }
                            @media only screen and (min-width:481px) and (max-width:768px) {
                               display: none;
                               overflow: hidden;
                            }
        
                            @media only screen and (min-width:769px) and (max-width:992px) {
                                display: none;
                                overflow: hidden;
                            }
                        }
                    }
                    @media only screen and (max-width:360px) {
                        gap: 0;
                    }
                    @media only screen and (min-width:361px) and (max-width:480px) {
                        gap: 16px;
                    }
                    @media only screen and (min-width:481px) and (max-width:768px){
                        gap: 17px;
                    }
                    @media only screen and (min-width:769px) and (max-width:992px){
                        gap: 18px;
                    }
                    
                }
            }
        }
    }
}    

.navbar-toggler-icon {
    @media only screen and (max-width:360px) {
        height: 1em;
        width: 1em;
    }
}

.navbar-nav {
    @media only screen and (max-width:360px) {
        --bs-nav-link-padding-y: 0.46rem;
    }
}

/* CARRUSEL */

.carousel {
    height: 100vh;
    position: relative;

    @media only screen and (max-width:360px){
        height: auto;
    }
    @media only screen and (min-width:361px) and (max-width:480px) {
        height: auto;
    }

    @media only screen and (min-width:481px) and (max-width:768px){
        height: auto;
    }
    @media only screen and (min-width:769px) and (max-width:992px){
        height: auto;
    }
    .carousel-inner {
        height: 100vh;

        @media only screen and (max-width:360px){ 
            height: auto;}
        @media only screen and (min-width:361px) and (max-width:480px) {
            height: auto;
        }
        @media only screen and (min-width:481px) and (max-width:768px){
            height: auto;
        }
        @media only screen and (min-width:769px) and (max-width:992px){
            height: auto;
        }

        .carousel-item {
            h5 {
                display: flex;
                justify-content: center;
                margin-top: 26%;
                position: absolute;
                grid-column: 1/3;
                color: nth($colores, 4);
                font-size: 3em;
                font-family: 'Quicksand', sans-serif;
                font-weight: 600;
                width: 100%;


                @media only screen and (max-width:360px) {
                    margin-top: 33%;
                    font-size: 1.3rem;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                @media only screen and (min-width:361px) and (max-width:480px) {
                    margin-top: 33%;
                    font-size: 1.5rem;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                @media only screen and (min-width:481px) and (max-width:768px){
                    margin-top: 33%;
                    font-size: 1.6rem;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                @media only screen and (min-width:769px) and (max-width:992px){
                    margin-top: 33%;
                    font-size: 2.5rem;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }
}


/* galeria */

.contenedor-galeria{
    background-color: nth($colores , 3 );
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .figure{
        position: relative;
        height: 320px;
        width: 25%;
        overflow: hidden;
        cursor: pointer;
        margin: 0;

        @media only screen and (max-width:360px){
            position: relative;
            height: 157px;
            width: 50%;
            overflow: hidden;
            cursor: pointer;
            margin: 0;
        }

        @media only screen and (min-width:361px) and (max-width:480px){
            height: 183px;
            width: 50%;
        }

        @media only screen and (min-width:481px) and (max-width:768px){
            height: 263px;
            width: 50%;
        }

        @media only screen and (min-width:769px) and (max-width:992px){
            height: 340px;
            width: 50%;
        }
            
        img { 
            width: 100%;
            height: 100%;
            transition: all 500ms ease-out;

            &:hover{
                transform: scale(1.3);
            }
        }
    }
}
    .figure{
        .capa {
            position: absolute;
            padding-top: 32px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: #0e0f11c1;
            transition: all 500ms ease-out;
            opacity: 0;
            text-align: center;

            @media only screen and (max-width:360px){
                padding-top: 8px;
            }

            @media only screen and (min-width:361px) and (max-width:480px){
                padding-top: 13px;
            }

            @media only screen and (min-width:481px) and (max-width:768px){
                padding-top: 6px;
            }

            @media only screen and (min-width:769px) and (max-width:992px){
                padding-top:17px ;
            }

            &:hover{
                opacity: 1;
                visibility: visible;
            }

        }

        .capa {
            h2{
                color: nth($colores , 4);
                font-weight: 400;
                transition: all 500ms ease-out;
                margin-top: 30%;

                @media only screen and (max-width:360px){
                    margin-top: 20%;
                }

                @media only screen and (min-width:361px) and (max-width:480px){
                    margin-top: 19%;
                }

                @media only screen and (min-width:481px) and (max-width:768px){
                    margin-top: 25%;
                    font-size: 2rem;
                }

                @media only screen and (min-width:769px) and (max-width:992px){
                    margin-top: 25%;
                }
            }
            p {
                color: nth($colores , 4);

                @media only screen and (max-width:360px){
                    padding-left: 10px;
                    text-align: center;
                    font-size: 0.7rem;
                    color: #EAEAEA;
                    padding-right: 10px;
                }

                @media only screen and (min-width:361px) and (max-width:480px){
                    padding-left: 30px;
                    font-size: 0.8rem;
                    color: #EAEAEA;
                    padding-right: 30px;
                }

                @media only screen and (min-width:481px) and (max-width:768px){
                    color: #EAEAEA;
                    font-size: 1.1rem;
                    padding-left: 50px;
                    padding-right: 50px;
                }

                @media only screen and (min-width:769px) and (max-width:992px){
                    font-weight: 400;
                    font-size: 1.4rem;
                    color: #EAEAEA;
                }
            }
    }
}
