@import '../scss/components/header';
@import '../scss/base/listas';
@import '../scss/components/footer';
@import '../scss/components/conocermas';

/* NAV */
header {
    .menu {
        background-color:#EAEAEA;

    @media only screen and (max-width:360px) {
        background: rgb(255 255 255 / 82%);
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-grid;
        z-index: 1;
        margin-top: 0;
    }

    @media only screen and (min-width:361px) and (max-width:480px) {
        background: rgb(255 255 255 / 82%);
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-grid;
        z-index: 1;
        margin-top: 0;
    }

    @media only screen and (min-width:481px) and (max-width:768px) {
        background: rgb(255 255 255 / 82%);
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-grid;
        z-index: 1;
        margin-top: 0;
    }
    @media only screen and (min-width:769px) and (max-width:992px){
        background: rgb(255 255 255 / 82%);
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-grid;
        z-index: 1;
        margin-top: 0;
    }
    .container-fluid {
        .collapse{
            .navbar-nav{
                font-family: "Quicksand", sans-serif;
                font-weight: 300;
                padding-top: 10px;
                align-items: center;
                gap: 63px;
                justify-content: center;
                .logo-a {
                    width: 16%;
                    img {
                        width: 20%
                    }
                }
                @media only screen and (max-width:360px) {
                    gap: 0;
                    --bs-nav-link-padding-y: 0.46rem;
                }
                @media only screen and (min-width:361px) and (max-width:480px) {
                    gap: 16px;
                }
                @media only screen and (min-width:481px) and (max-width:768px){
                    gap: 17px;
                }
                @media only screen and (min-width:769px) and (max-width:992px){
                    gap: 18px;
                }

                .nav-item {
                    .control {
                        color: nth($colores, 5 );
                        @media only screen and (max-width:360px) {
                            color: nth($colores, 5 );
                        }

                        @media only screen and (min-width:361px) and (max-width:480px){
                            color: nth($colores, 5 );
                        }

                        @media only screen and (min-width:481px) and (max-width:768px){
                            color: nth($colores, 5 );
                        }
                        
                        @media only screen and (min-width:769px) and (max-width:992px){
                            color: nth($colores, 5 );
                        }
            
                        &:hover {
                            color: nth($colores, 1 );
                        }
                    }
                }
            }
        }
    }
}
}

.icono-logo {
    @media only screen and (max-width:360px) {
        display: none;
    }
   

    @media only screen and (min-width:361px) and (max-width:480px) {
        display: none;
    }

    @media only screen and (min-width:481px) and (max-width:768px) {
       display: none;
    }
}



.navbar-toggler-icon {
    @media only screen and (max-width:360px) {
        height: 1em;
        width: 1em;
    }
}



/* img */
section {
    .iguazu-cont {
        width: 100%;
        display: flex;
        height: 100vh;
        overflow: hidden;
    
    .img-fluid {
        width: 100%;
        height: 129vh;

        @media only screen and (max-width:360px) {
            height: auto;
        }
        @media only screen and (min-width:361px) and (max-width:480px) {
            height: auto;
        }
        @media only screen and (min-width:481px) and (max-width:768px){
            height: auto;
        }

        @media only screen and (min-width:769px) and (max-width:992px){
            height: auto;
        }
    }
        @media only screen and (max-width:360px) {
            height: 38vh;
        }
        @media only screen and (min-width:361px) and (max-width:480px) {
            height: 46vh;
        }
        @media only screen and (min-width:481px) and (max-width:768px){
            height: 76vh;
        }

        @media only screen and (min-width:769px) and (max-width:992px){
            height: 70vh;
        }
    }

}

.contador-lugar {
    align-items: center;
    display: flex;
    height: 187px;
    background-color: #17181b;

    @media only screen and (max-width:360px) {
        height: 8vh;
    }

    @media only screen and (min-width:361px) and (max-width:480px) {
        height: 10vh;
    }

    @media only screen and (min-width:481px) and (max-width:768px) {
        height: 15vh;
    }

    .contador {
        justify-content: center;
        padding-bottom: 16px;
        display: flex;
        width: 473px;
        height: 40px;
        color: nth($colores, 4);
        font-size: 40px;
        line-height: 40px;
        margin: auto;
        font-family: 'Quicksand', sans-serif;
        overflow: hidden;

        @media only screen and (max-width:360px) {
            justify-content: center;
            font-size: 1rem;
        }

        @media only screen and (min-width:361px) and (max-width:480px) {
            font-size: 1.5rem;
        }

        @media only screen and (min-width:481px) and (max-width:768px) {
            font-size: 1.5rem;
        }

        p {
            margin: 0;
        }
    }
}

#del-a {
    background-color: nth($colores , 4 );
    justify-items: center;
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 800px auto;

    @media only screen and (max-width:360px) {
        padding: 0;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70vh;
        height: 70vh;
    }

    @media only screen and (min-width:361px) and (max-width:480px) {
        padding: 0;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70vh;
        height: 70vh;
    }
    
    @media only screen and (min-width:481px) and (max-width:768px){
        height: 76vh;
        padding: 0; 
        justify-items: center;
        align-items: center;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    @media only screen and (min-width:769px) and (max-width:992px){
        height: 100vh;
        padding: 0; 
        justify-items: center;
        align-items: center;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .del {
        width: 100%;
        grid-column: 1;
        grid-row: 1;

        @media only screen and (max-width:360px){
            justify-content: center;
            align-items: center;
            display: flex;
            width: 90%;
            grid-row: 1/3;
        }

        @media only screen and (min-width:361px) and (max-width:480px){
            justify-content: center;
            align-items: center;
            display: flex;
            width: 90%;
            grid-row: 1/3;
        }


        @media only screen and (min-width:481px) and (max-width:768px){
            justify-content: center;
            overflow: hidden;
            align-items: center;
            display: flex;
            width: 100%;
            grid-row: 1/3;
        }

        @media only screen and (min-width:769px) and (max-width:992px){
            justify-content: center;
            overflow: hidden;
            align-items: center;
            display: flex;
            width: 100%;
            grid-row: 1/3;
        }

        img{
            width: 100%;
            box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.451);
            -webkit-box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.232);
            -moz-box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.199);
        
            @media only screen and (max-width:360px){
                display: none;
            }

            @media only screen and (min-width:361px) and (max-width:480px){
                display: none;
            }

            @media only screen and (min-width:481px) and (max-width:768px){
                width: 100%;
                height: 80vh;
            }

            @media only screen and (min-width:769px) and (max-width:992px){
                width: 100%;
                height: 100vh;
            }
        }
    }
    .tipo-del {
        width: 500px;
        grid-column: 2;
        grid-row: 1;
        color: nth($colores , 4 );

        @media only screen and (max-width:360px){
            width: 250px;
            grid-column: 1/3;
            grid-row: 1/3;
        }

        @media only screen and (min-width:361px) and (max-width:480px){
            width: 70%;
            grid-column: 1/3;
            grid-row: 1/3;
        }

        @media only screen and (min-width:481px) and (max-width:768px){
            width: 80%;
            grid-column: 2;
            grid-row: 1/3;
        }

        @media only screen and (min-width:769px) and (max-width:992px){
            width: 80%;
            grid-column: 2;
            grid-row: 1/3;
        }

        h2{
            color: nth($colores , 1 );
            font-weight: 100;
            font-size: 2rem;
            font-family: 'Quicksand', sans-serif;
        }
        p {
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            color: nth($colores , 3 );
        }
    }
}

#bel-a {
    background-color: nth($colores , 5 );
    justify-items: center;
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 800px auto;

    @media only screen and (max-width:360px) {
        padding: 0;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70vh;
        height: 70vh;
    }

    @media only screen and (min-width:361px) and (max-width:480px) {
        padding: 0;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70vh;
        height: 70vh;
    }

    @media only screen and (min-width:481px) and (max-width:768px){
        height: 76vh;
        padding: 0; 
        justify-items: center;
        align-items: center;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }


    @media only screen and (min-width:769px) and (max-width:992px){
        height: 100vh;
        padding: 0; 
        justify-items: center;
        align-items: center;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .bel{
        width: 100%;
        grid-column: 2;
        grid-row: 1;

        @media only screen and (max-width:360px){
            justify-content: center;
            align-items: center;
            display: flex;
            width: 90%;
            grid-row: 1/3;
        }

        @media only screen and (min-width:361px) and (max-width:480px){
            justify-content: center;
            align-items: center;
            display: flex;
            width: 90%;
            grid-row: 1/3;
        }

        @media only screen and (min-width:481px) and (max-width:768px){
            justify-content: center;
            overflow: hidden;
            align-items: center;
            display: flex;
            width: 100%;
            grid-row: 1/3;
        }

        @media only screen and (min-width:769px) and (max-width:992px){
            justify-content: center;
            overflow: hidden;
            align-items: center;
            display: flex;
            width: 100%;
            grid-row: 1/3;
        }

        img{

            width: 100%;

            @media only screen and (max-width:360px){
                display: none;
            }

            @media only screen and (min-width:361px) and (max-width:480px){
                display: none;
            }

            @media only screen and (min-width:481px) and (max-width:768px){
                width: 100%;
                height: 80vh;
            }

            @media only screen and (min-width:769px) and (max-width:992px){
                width: 100%;
                height: 100vh;
            }

        }
    }
    .tipo-bel{
        width: 500px;
        grid-column: 1;
        grid-row: 1;
        color: nth($colores , 4);

        @media only screen and (max-width:360px){
            width: 250px;
            grid-column: 1/3;
            grid-row: 1/3;
        }

        @media only screen and (min-width:361px) and (max-width:480px){
            width: 70%;
            grid-column: 1/3;
            grid-row: 1/3;
        }

        @media only screen and (min-width:481px) and (max-width:768px){
            width: 80%;
            grid-column: 1;
            grid-row: 1/3;
        }

        @media only screen and (min-width:769px) and (max-width:992px){
            width: 80%;
            grid-column: 1;
            grid-row: 1/3;
        }

        h2{
            color: nth($colores , 2 );
            font-weight: 100;
            font-size: 2rem;
            font-family: 'Quicksand', sans-serif;
        }
        p{
            color: nth($colores , 4 );
            font-family: 'Quicksand', sans-serif;
        }
    }
}

