.conocer-mas {
    background-color: #EAEAEA;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 80px 323px;
    padding: 10px 100px 50px 100px;
    gap: 30px;

        @media only screen and (max-width:360px){
            background-color: #EAEAEA;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 64px 136px;
            padding: 20px 9px 20px 9px;
            gap: 10px;
        }

        @media only screen and (min-width:361px) and (max-width:480px) {
            background-color: #EAEAEA;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 64px 149px;
            padding: 12px 9px 20px 9px;
            gap: 13px;
        }

        @media only screen and (min-width:481px) and (max-width:768px){
            background-color: #EAEAEA;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 53px 238px;
            padding: 10px 50px 50px 50px;
            gap: 30px;
        }

        @media only screen and (min-width:769px) and (max-width:992px){
            background-color: #EAEAEA;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 80px 297px;
            padding: 10px 59px 50px 59px;
            gap: 30px;
        }
    
    h3{
        align-items: center;
        font-size: 1.5rem;
        grid-row: 1;
        grid-column: 1/4;
        display: grid;
        justify-content: center;
    

            @media only screen and (max-width:360px){
                background-color: #EAEAEA;
                display: grid;
                font-size: 1rem;
            }

            @media only screen and (min-width:769px) and (max-width:992px){
                font-size: 1.5rem;
            }
    }
    .mas{
        grid-row: 2/3;
        overflow: hidden;
        box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.36);
        -webkit-box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: -4px 3px 35px -4px rgba(0, 0, 0, 0.36);
    
        .uno{
            width: 460px;
        }
        .dos{
            width: 625px;
        }
        .tres{
            width: 493px;
        }
    }
    .conocer-sec {
        justify-content: center;
        grid-column: 2;
        display: grid;
        align-content: center;
        .btn-outline-primary {
            color: #EAEAEA;
            background-color: #17181b;
            border: #17181b;

            &:hover {
                color: #EAEAEA;
                background-color: #FF2E63;
            }
        }
    }
}