/* FOOTER */

.footer-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    color: #FF2E63;
    align-items: center;
    background-color: #cecece;


    .logo-a {
        display: grid;
        justify-content: center;
        grid-column: 2/4;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;

        a {
            align-items: center;
            justify-content: center;
            display: ggr;
            display: flex;

            img {
                padding-top: 10px;
                width: 20%;
                align-items: center;
                justify-content: center;

                @media only screen and (max-width:360px) {
                    width: 45px;
                }
                @media only screen and (min-width:361px) and (max-width:480px){
                    width: 45px;
                }
            }
        }

        
    }

    p {
            grid-row: 1;
            justify-items: center;
            display: grid;
            grid-column: 1;
            margin-top: 0;
            margin-bottom: 0;

        @media only screen and (max-width:360px){
            font-size: 0.7rem;
            padding-left: 10%;
        }
        @media only screen and (min-width:361px) and (max-width:480px){
            font-size: 0.8rem;
            padding-left: 10%;
        }
        @media only screen and (min-width:481px) and (max-width:768px){
            font-size: 0.9rem;
        }

        @media only screen and (min-width:769px) and (max-width:992px){
            padding-left: 22px;
        }
    }

    .nav-footer {
        grid-row: 1/4;
        justify-content: center;
        grid-column: 4;
        display: grid;

        ul {
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;
            display: flex;
            justify-content: space-around;
            grid-column-gap: 60px;

            @media only screen and (max-width:360px){
                gap: 16px;
            }
            @media only screen and (min-width:361px) and (max-width:480px){
                gap: 16px;
            }

            @media only screen and (min-width:481px) and (max-width:768px){
                gap: 16px;
            }
        }

        a {
            color: #EAEAEA;
            text-decoration: none;

            img {
                width: 24px;

                @media only screen and (max-width:360px){
                    width: 19px;
                }

                @media only screen and (min-width:361px) and (max-width:480px){
                    width: 19px;
                }

                @media only screen and (min-width:481px) and (max-width:768px){
                    width: 19px;
                }
            }
        }
    }
}

.icono-logo {
    @media only screen and (min-width:769px) and (max-width:992px) {
        display: none;
     }
}