@import '../base/listas';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* NAV */
header {
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;
    display: grid;

    .menu {
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: inline-grid;

        z-index: 1;
        padding: 17px;

        .container-fluid {
            .collapse {
                .navbar-nav {
                    gap: 90px;

                    .nav-item {
                        .control {
                            color: nth($colores, 5 );

                            &:hover {
                                color: nth($colores, 1 );
                            }
                        }
                    }
                }
            }
        }
    }
}